venv
.idea
/.project
/.idea
/.pydevproject
/ooda/logs
*__pycache__
.ipynb_checkpoints
/.ipynb_checkpoints/
*.cache-main
*cache-main
*06-Spark/01-Scala/spark-warehouse/
*06-Spark/01-Scala/metastore_db/
*06-Spark/01-Scala/derby.log
*.metals
*.vscode
*.DS_Store
*check_pt_1

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/target/
target/

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

# general
*.class
