venv
.idea
/.project
/.idea
/.pydevproject
/ooda/logs
*__pycache__
.ipynb_checkpoints
/.ipynb_checkpoints/
*.cache-main
*cache-main
*06-Spark/01-Scala/spark-warehouse/
*06-Spark/01-Scala/metastore_db/
*06-Spark/01-Scala/derby.log
